src/config.local
src/custompios_path
src/image/*.zip
src/image-variants/*.zip
**/key.json
src/nightly_build_scripts/index.html
src/nightly_build_scripts/node_modules
src/workspace-*
src/workspace
src/build.log
src/vagrant/*.log
src/vagrant/.vagrant
.vscode
.idea
