<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="{{ site.baseurl }}/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="{{ site.baseurl }}/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.short_title }}</a>
      <div class="pull-right visible-desktop">
        <a class="brand bqlogo" href="http://www.bq.com"><img src="{{ site.baseurl }}/assets/img/bq-30x30-allwhite.png" alt="BQ logo"></a>
      </div>
    </div>
  </div>
</div>
