<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="{{ site.baseurl }}/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="{{ site.baseurl }}/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.short_title }}</a>
      <div class="pull-right">
        <ul class="nav social-navbar">
          <li><a href="http://octoprint.org/support-octoprint/" title="Support OctoPrint!" target="_blank"><img src="{{ BASE_PATH }}/assets/img/patreon.png" style="height: 18px; margin-top: -4px"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
