[Unit]
Description=Check that wpa-supplicant.conf is a symlink

DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/root/bin/check_wpa_link

[Install]
WantedBy=multi-user.target
