[Unit]
 Description=Network Monitor
 ConditionPathExists=/usr/local/bin/networkcheck

[Service]
 User=root
 Type=simple
 ExecStart=/usr/local/bin/networkcheck &
