[Unit]
Description=the OctoPi webcam daemon with the user specified config
# ConditionPathExists=/etc/octopi_streamer/mjpeg

[Service]
WorkingDirectory=/root/bin
StandardOutput=append:/var/log/webcamd.log
StandardError=append:/var/log/webcamd.log
ExecStart=/root/bin/webcamd
Restart=always
Type=simple
RestartSec=1

[Install]
WantedBy=multi-user.target
